<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library API - Gerenciador</title>

    <link rel="stylesheet" href="../static/css/styles.css">

    <script src="../static/js/script.js" defer></script>


    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Lucide Icons -->
    <script src="https://unpkg.com/lucide@latest"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <style>

    </style>
</head>
<body class="bg-slate-50 text-slate-800 h-screen overflow-hidden flex flex-col md:flex-row">

<!-- Container Principal (Injetado via JS) -->
<div id="app" class="w-full h-full flex flex-col md:flex-row"></div>

</body>
</html>